$navbar-height: 50px;
$gap: 5px;

.icon {
  border-radius: 50%;
  aspect-ratio: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg,
  img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

nav {
  background-color: var(--surface-2);
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-areas: 'a b c';
  height: $navbar-height;
  padding: $gap 16px;
}

.nav-search {
  grid-area: a;
  display: flex;
  gap: $gap;
  > div {
    button {
      display: none;
    }
  }
  .searchbar {
    height: 40px;
    padding: 0 10px;
    width: 265px;
    display: flex;
    gap: $gap;
    align-items: center;
    background-color: var(--surface-3);
    border-radius: 100vh;
    input {
      border: none;
      background: none;
    }
  }
  #search-content {
    display: none;
  }
  &.active {
    #search-content {
      display: block;
    }
    input {
      width: 100%;
    }
    > div {
      position: absolute;
      inset: 0 auto auto auto;
      padding: $gap;
      margin-left : -5px;
      display: flex;
      flex-direction: column;
      gap: $gap;
      background-color: var(--surface-2);
      border-radius: 10px;
      button {
        display: block;
      }
      > div {
        display:flex;
        gap: $gap;
      }
    }
    .searchbar {
      padding: 0 18px;
      svg {
        display: none;
      }
    }
    .search-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.nav-navigation {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  a {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    max-width: 150px;
    height: 45px;
    border-radius:10px;
    &:hover,
    &:focus {
      background-color: var(--surface-3);
    }
  }
}

.nav-extra {
  grid-area: c;
  display: flex;
  gap: $gap;
  justify-content: flex-end;
}

.user-button {
  height: 40px;
  display: flex;
  gap: $gap;
  align-items: center;
  padding: $gap;
  width: 100%;
  background-color:var(--surface-3);
  border-radius: 100vh;
  h6 {
    font-size: 1rem;
    line-height: 1;
  }
  .user-icon {
    width: 30px;
    height: 30px;
    > * {
      width: 30px;
      height: 30px;
    }
  }
}
