.side-scroll-container {
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid: 1fr / auto-flow 100%;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  touch-action: pan-x;
  scroll-behavior: smooth;
  &.scroll-contain {
    overscroll-behavior: contain;
  }
}

.side-scroll-container::-webkit-scrollbar {
  display: none;
}

.side-scroll-item {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 5px 1rem;
  border-radius: 10px;
  // background-color: var(--surface-2);
  &.login {
    padding: 10vh 0;
    > div {
      margin: 0 auto 0;
      padding: 1rem;
      width: clamp(1px,70vw, 500px);
      display: flex;
      flex-direction: column;
      gap: .3rem;
      border-radius: 1rem;
      background-color: var(--surface-2);
    }
  }
}