@import url("../../modules/open-props.min.css");
@import url("../../modules/normalize.min.css");
.post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--surface-2);
}
.post header {
  padding: 10px 10px 0px 10px;
  display: flex;
  gap: 5px;
}
.post header div {
  height: var(--icon-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post header div h4 {
  font-weight: 500;
  font-size: 17px;
}
.post header div h5 {
  font-weight: 300;
  font-size: 15px;
}
.post main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post main p {
  padding: 0 10px;
}
.post main div {
  display: flex;
  justify-content: center;
}
.post footer {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post footer div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.post footer .comments {
  display: none;
}
.post footer .messages,
.post footer .create-message {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.post footer .messages div,
.post footer .create-message div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post footer .create-message.active {
  display: flex;
}
@media (min-width: 375px) {
  .post footer .comments {
    display: flex;
  }
}
.post.active .messages,
.post.active .messages-hr {
  display: flex;
}

.icon-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-1);
  border-radius: 50%;
  text-decoration: none;
  transition: all var(--transition-1) ease-out;
}
.icon-rounded.button {
  color: var(--text-1);
  background: var(--surface-3);
}
.icon-rounded.button path {
  fill: var(--text-1);
  stroke: var(--text-1);
}
.icon-rounded.button:hover, .icon-rounded.button:focus {
  color: var(--text-2);
  background: var(--surface-4);
}
.icon-rounded.button:hover path, .icon-rounded.button:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.icon-rounded.small {
  width: 30px;
  height: 30px;
}
.icon-rounded.medium {
  width: 40px;
  height: 40px;
}
.icon-rounded.large {
  width: 50px;
  height: 50px;
}

.hover {
  position: relative;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-1);
  background: none;
  transition: all var(--transition-1) ease-out;
}
.hover path {
  stroke: var(--text-1);
  fill: none;
}
.hover.solid path {
  fill: var(--text-1);
}
.hover.rounded {
  border-radius: 10px;
}
.hover.pill {
  border-radius: 100vh;
}
.hover.gap {
  gap: 5px;
}
.hover.small {
  width: fit-content;
  height: 24px;
}
.hover.medium {
  height: 42px;
}
.hover:hover, .hover:focus {
  color: var(--text-2);
  background-color: var(--surface-3);
}
.hover:hover path, .hover:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.hover.active {
  color: var(--accent-color);
  background: none;
}
.hover.active path {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.hover.active::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin-bottom: -0.25rem;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: var(--accent-color);
}

.main-nav {
  grid-area: navbar;
  padding: 5px 7.5px;
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  background-color: var(--surface-2);
  z-index: 3;
}
@media (min-width: 768px) {
  .main-nav {
    gap: 0.25rem;
    grid-template-areas: "left main right";
    grid-template-columns: minmax(1px, 200px) 1fr minmax(1px, 200px);
  }
}
@media (min-width: 1024px) {
  .main-nav {
    grid-template-areas: "left main right";
    grid-template-columns: minmax(1px, 310px) 1fr minmax(1px, 310px);
  }
}

.side-nav-left {
  grid-area: left;
  display: flex;
}
.side-nav-left > li:nth-child(4) {
  display: none;
  width: 100%;
}
.side-nav-left > li:nth-child(4) input {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
}
@media (min-width: 1024px) {
  .side-nav-left > li:nth-child(4) {
    display: block;
  }
  .side-nav-left > li:nth-child(2), .side-nav-left > li:nth-child(3) {
    display: none;
  }
}

.side-nav-main {
  grid-area: main;
  display: flex;
  justify-content: center;
}
.side-nav-main > li {
  width: 100%;
  max-width: 150px;
}
.side-nav-main > li:nth-child(2) {
  display: none;
}
@media (min-width: 768px) {
  .side-nav-main > li:nth-child(2) {
    display: block;
  }
  .side-nav-main > li:nth-child(5) {
    display: none;
  }
}

.side-nav-right {
  grid-area: right;
  display: flex;
  justify-content: right;
}
.side-nav-right > li:nth-child(1) {
  width: 100%;
  display: none;
}
.side-nav-right > li:nth-child(1) a {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 100vh;
  color: var(--text-1);
  background-color: var(--surface-3);
}
.side-nav-right > li:nth-child(1) a:hover, .side-nav-right > li:nth-child(1) a:focus {
  color: var(--text-2);
  background-color: var(--surface-4);
}
@media (min-width: 1024px) {
  .side-nav-right > li:nth-child(1) {
    display: block;
  }
}

.side-nav-left,
.side-nav-main,
.side-nav-right {
  gap: 5px;
  height: 100%;
}

.side-nav-left,
.side-nav-right {
  display: none;
}
@media (min-width: 768px) {
  .side-nav-left,
.side-nav-right {
    display: flex;
  }
}

.side-aside {
  grid-area: aside;
  display: none;
}
@media (min-width: 768px) {
  .side-aside {
    display: flex;
  }
}

.main-content {
  grid-area: content;
  display: grid;
  grid-template-areas: ". main .";
  grid-template-columns: minmax(7.5px, 1fr) minmax(1px, 700px) minmax(0.5rem, 1fr);
}
.main-content > * > div {
  z-index: 1;
}
.main-content > main {
  overflow-x: scroll;
}

.side-main-content {
  grid-area: main;
}

.side-nav-dropdown {
  z-index: 1;
  position: absolute;
  width: 324px;
  height: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-2);
  transition: all var(--transition-1) linear;
}
.side-nav-dropdown.right {
  inset: 0 0 auto auto;
}
.side-nav-dropdown.left {
  inset: 0 auto auto 0;
}
.side-nav-dropdown.below-nav {
  top: 50px;
}
.side-nav-dropdown > * {
  display: none;
}

.dropdown-container.active .side-nav-dropdown {
  height: fit-content;
}
.dropdown-container.active .side-nav-dropdown > * {
  display: flex;
}

.search-dropdown ul * {
  display: none;
}
.search-dropdown .search-results {
  margin-top: 50px;
  padding: 7px;
  gap: 5px;
  flex-direction: column;
}
.search-dropdown .search-results > * {
  padding: 0;
  justify-content: left;
  height: 40px;
}

.profiel-page {
  padding-top: 60px;
}
.profiel-page > * {
  padding: 17px 17px 0;
}
.profiel-page .profiel {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--surface-2);
}
.profiel-page .profiel .info {
  height: 73px;
  display: flex;
  gap: 10px;
}
.profiel-page .profiel .nav {
  display: flex;
  height: 48px;
}
.profiel-page .profiel .nav ul {
  height: 100%;
  display: flex;
  gap: 2px;
  list-style: none;
}
.profiel-page .profiel .nav li {
  height: 100%;
  position: relative;
}
.profiel-page .profiel .nav a {
  padding: 0 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  border-radius: 7px;
  color: var(--text-2);
}
.profiel-page .profiel .nav a:hover, .profiel-page .profiel .nav a:focus {
  background-color: rgba(255, 255, 255, 0.2549019608);
  color: var(--text-1);
}
.profiel-page .profiel .nav a:hover:after, .profiel-page .profiel .nav a:focus:after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: rgba(255, 255, 255, 0.1294117647);
}
.profiel-page .profiel .nav a:active, .profiel-page .profiel .nav a:focus-visible,
.profiel-page .profiel .nav a .active {
  color: #3754CD;
  background: none;
}
.profiel-page .profiel .nav a:active:after, .profiel-page .profiel .nav a:focus-visible:after,
.profiel-page .profiel .nav a .active:after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: #3754CD;
}
.profiel-page .profiel .nav > button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background: none;
}
.profiel-page .profiel .nav > button:hover, .profiel-page .profiel .nav > button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.profiel-page .content div {
  height: 100%;
}
.profiel-page .side-scroll-container {
  padding: 0 0 1rem;
}

.profiel-naam {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.profiel-naam div {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.profiel-naam > h3, .profiel-naam > p {
  line-height: 1;
}
.profiel-naam > p {
  font-size: 17px;
}

.profiel-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.profiel-buttons a {
  height: 100%;
}
.profiel-buttons a button {
  width: 120px;
  height: 100%;
  border-radius: 10px;
}
.profiel-buttons a button.active {
  background-color: #3754CD;
  color: #fff;
}
.profiel-buttons a button.active:hover, .profiel-buttons a button.active:focus {
  background-color: #6080ff;
}
.profiel-buttons a button.border {
  background: none;
  outline: 1px solid #3754CD;
  color: var(--text-1);
}
.profiel-buttons a button.border:hover, .profiel-buttons a button.border:focus {
  background-color: rgba(255, 255, 255, 0.1568627451);
}

.profiel-icon {
  margin-top: -57px;
  border-radius: 50%;
}

.iconLarge {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.iconLarge img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.side-scroll-container {
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid: 1fr/auto-flow 100%;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  touch-action: pan-x;
  scroll-behavior: smooth;
}
.side-scroll-container.scroll-contain {
  overscroll-behavior: contain;
}

.side-scroll-container::-webkit-scrollbar {
  display: none;
}

.side-scroll-item {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 5px 1rem;
  border-radius: 10px;
  background-color: var(--surface-2);
}

.tabel-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.tabel-container th,
.tabel-container td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

:root {
  --accent-color: #643eed;
  --transition-1: 150ms;
  --icon-medium: 40px ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body.default-grid {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "content" "." "navbar";
  grid-template-rows: 1fr 5px 50px;
  color: var(--text-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--surface-1);
}
@media (min-width: 768px) {
  body.default-grid {
    grid-template-areas: "navbar" "." "content" ".";
    grid-template-rows: 50px 5px 1fr 5px;
  }
}

button {
  background: var(--surface-3);
  border: none;
  cursor: pointer;
  color: var(--text-1);
}

ul {
  list-style: none;
}

input {
  border: none;
  background: var(--surface-3);
  color: var(--text-1);
  transition: all var(--transition-1) ease-out;
}
input::placeholder {
  color: var(--text-1);
}
input:hover, input:focus {
  color: var(--text-2);
  background-color: var(--surface-4);
}
input:hover::placeholder, input:focus::placeholder {
  color: var(--text-2);
}

a {
  text-decoration: none;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.pa-right {
  z-index: 2;
  position: absolute;
  inset: 0 0 0 auto;
}

.full-height {
  height: 100%;
  max-height: 50vh;
  max-width: 100%;
}

.display-flex {
  display: flex;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  color: var(--text-2);
  background-color: var(--surface-3);
  font-size: 16px;
  resize: none;
}
textarea::placeholder {
  color: var(--text-1);
}

hr {
  height: 2px;
  background-color: var(--surface-4);
  outline: none;
  border: none;
}

dialog {
  padding: 10px;
  margin: auto;
  width: clamp(100px, 100vw, 700px);
  height: clamp(100px, 100vh, 500px);
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
