.icon {
  border-radius: 50%;
  aspect-ratio: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg,
.icon img {
  height: 100%;
  width: 100%;
  margin: auto;
}

nav {
  background-color: var(--surface-2);
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-areas: "a b c";
  height: 50px;
  padding: 5px 16px;
}

.nav-search {
  grid-area: a;
  display: flex;
  gap: 5px;
}
.nav-search > div button {
  display: none;
}
.nav-search .searchbar {
  height: 40px;
  padding: 0 10px;
  width: 265px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: var(--surface-3);
  border-radius: 100vh;
}
.nav-search .searchbar input {
  border: none;
  background: none;
}
.nav-search #search-content {
  display: none;
}
.nav-search.active #search-content {
  display: block;
}
.nav-search.active input {
  width: 100%;
}
.nav-search.active > div {
  position: absolute;
  inset: 0 auto auto auto;
  padding: 5px;
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--surface-2);
  border-radius: 10px;
}
.nav-search.active > div button {
  display: block;
}
.nav-search.active > div > div {
  display: flex;
  gap: 5px;
}
.nav-search.active .searchbar {
  padding: 0 18px;
}
.nav-search.active .searchbar svg {
  display: none;
}
.nav-search.active .search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-navigation {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nav-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  height: 45px;
  border-radius: 10px;
}
.nav-navigation a:hover, .nav-navigation a:focus {
  background-color: var(--surface-3);
}

.nav-extra {
  grid-area: c;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.user-button {
  height: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  width: 100%;
  background-color: var(--surface-3);
  border-radius: 100vh;
}
.user-button h6 {
  font-size: 1rem;
  line-height: 1;
}
.user-button .user-icon {
  width: 30px;
  height: 30px;
}
.user-button .user-icon > * {
  width: 30px;
  height: 30px;
}

.profiel-page {
  padding-top: 60px;
}
.profiel-page > * {
  padding: 17px 17px 0;
}
.profiel-page .profiel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--surface-2);
}
.profiel-page .profiel .info {
  height: 73px;
  display: flex;
  gap: 10px;
}
.profiel-page .profiel .nav {
  display: flex;
  height: 48px;
}
.profiel-page .profiel .nav ul {
  height: 100%;
  display: flex;
  gap: 2px;
  list-style: none;
}
.profiel-page .profiel .nav li {
  height: 100%;
  position: relative;
}
.profiel-page .profiel .nav a {
  padding: 0 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  border-radius: 7px;
  color: var(--text-2);
}
.profiel-page .profiel .nav a:hover, .profiel-page .profiel .nav a:focus {
  background-color: #ffffff41;
  color: var(--text-1);
}
.profiel-page .profiel .nav a:hover:after, .profiel-page .profiel .nav a:focus:after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: #ffffff21;
}
.profiel-page .profiel .nav a:active, .profiel-page .profiel .nav a:focus-visible,
.profiel-page .profiel .nav a .active {
  color: #3754CD;
  background: none;
}
.profiel-page .profiel .nav a:active:after, .profiel-page .profiel .nav a:focus-visible:after,
.profiel-page .profiel .nav a .active:after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: #3754CD;
}
.profiel-page .profiel .nav > button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background: none;
}
.profiel-page .profiel .nav > button:hover, .profiel-page .profiel .nav > button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.profiel-page .content div {
  height: 100%;
}

.profiel-naam {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.profiel-naam div {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.profiel-naam > h3, .profiel-naam > p {
  line-height: 1;
}
.profiel-naam > p {
  font-size: 17px;
}

.profiel-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.profiel-buttons a {
  height: 100%;
}
.profiel-buttons a button {
  width: 120px;
  height: 100%;
  border-radius: 10px;
}
.profiel-buttons a button.active {
  background-color: #3754CD;
  color: #fff;
}
.profiel-buttons a button.active:hover, .profiel-buttons a button.active:focus {
  background-color: #6080ff;
}
.profiel-buttons a button.border {
  background: none;
  outline: 1px solid #3754CD;
  color: var(--text-1);
}
.profiel-buttons a button.border:hover, .profiel-buttons a button.border:focus {
  background-color: #ffffff28;
}

.profiel-icon {
  margin-top: -57px;
  border-radius: 50%;
}

.profiel-background::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: blue;
  z-index: -1;
}

.edit-profiel {
  background-color: var(--surface-2);
}
.edit-profiel form {
  display: flex;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  grid-template-areas: "n n n" ". c .";
  grid-template-columns: minmax(1rem, 1fr) minmax(1px, 680px) minmax(1rem, 1fr);
  grid-template-rows: 50px 1fr;
  background-color: var(--surface-1);
}

nav {
  grid-area: n;
  z-index: 2;
}

main {
  grid-area: c;
  z-index: 1;
}

.iconSmall {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.iconSmall * {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.iconMedium {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.iconMedium * {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.iconLarge {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.iconLarge * {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
